*{
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
    display: grid;
    min-height: 100vh;
    place-items: center;
}
ul{
  list-style-type: upper-roman;  
}
h1{
    font-size: 50px;
}
div {
    font-size: 25px;
    background: white;
    padding: 50px;
    border-radius: 20px 50px;
    border: solid 5px;    
}

